.header{
    display: flex;
    margin: 20px 0;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 5%;
    height: 50px;
    border-radius: 10px;
    
}

.headerRight{
//  background-color: blue;
 flex:1;
}
.headerLeft{
//  background-color: red;
 flex:1;
}

.ul{
    height: 100%;
    // padding: 0% 10%;
    margin:0% 10%;
    // background-color: #4e4e4eff6c;
    

}
.ul>a{
    display: flex;
    height: 100%;
    width: 80%;
    // font-family: designpoppop;
    border-radius:10px;
    color:black ;
}

.ul>a>img{
  width: 60px;
  height: 60px;  
  &:hover{
    transform:translate(0px,0px);
  }
}


.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 3px;
    flex:1;
    font-size: 14px;
    transition:0.8s;
    height: 100%;
    // background-color: #f3cb1a83;
    
    &:hover{
        background-color: 	#ffffff5d;
        height:100%;
        border-radius: 30px;
    }
}



.ulright{
    flex:3;
    font-size: 20px;
    &:hover{
        background-color: 	#ffdd35e3;
        height:100%
    }
}
.sec{
    flex:9;
}

.three{
    flex:9;
}

